In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
A = [1,2,3,4,5]
B = [6,7,8,9,0]
C = [1,2,3,4,5]
D = [6,7,8,9,0]
E = [2,3,4,5,6]

In [8]:
df = pd.DataFrame([A,B,C,D,E],['a','b','c','d','e'],['W','X','Y','Z','L'])

In [9]:
df

   W  X  Y  Z  L
a  1  2  3  4  5
b  6  7  8  9  0
c  1  2  3  4  5
d  6  7  8  9  0
e  2  3  4  5  6

In [ ]:
df1['X'] = df['Z'] + df['L']