In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
d = {'a':[1,2,3,4,5],'b':[6,7,8,9,np.nan],'c':[11,12,np.nan,np.nan,15]}

In [4]:
d

{'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, nan], 'c': [11, 12, nan, nan, 15]}

In [5]:
pd.DataFrame(d)

   a    b     c
0  1  6.0  11.0
1  2  7.0  12.0
2  3  8.0   NaN
3  4  9.0   NaN
4  5  NaN  15.0

In [7]:
d['b'].fillna(value = d['b'].mean())

AttributeError: 'list' object has no attribute 'fillna'

In [8]:
d['b'].fillna(value = d['b'].mean())

AttributeError: 'list' object has no attribute 'fillna'

In [9]:
d['b'].fillna(value = 1)

AttributeError: 'list' object has no attribute 'fillna'