In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'key1':[1,2,3],'a':[2,3,4],'b':[5,6,7]})
df2 = pd.DataFrame({'key1':[1,2,3],'a':[2,3,9],'b':[8,6,9]})

In [4]:
df1

   key1  a  b
0     1  2  5
1     2  3  6
2     3  4  7

In [5]:
df2

   key1  a  b
0     1  2  8
1     2  3  6
2     3  9  9

   key1  a  b
0     2  3  6

In [7]:
pd.merge(df1,df2, HOW = "inner")

TypeError: merge() got an unexpected keyword argument 'HOW'

In [8]:
pd.merge(df1,df2,how = "inner")

   key1  a  b
0     2  3  6

In [11]:
pd.merge(df1,df2,how = "outer" ,on = "key1")

   key1  a_x  b_x  a_y  b_y
0     1    2    5    2    8
1     2    3    6    3    6
2     3    4    7    9    9